
<link rel="stylesheet" href="css/InfoPro.css">

<h1 class="n1">Bienvenidos a la página de  @nombre </h1>
<h1 class="n2">Te ofrecemos los mejores productos al día</h1>

<h1><strong>Delivery Gratis</strong></h1>

@code{
    [Parameter]
    public string nombre {get; set;}
}